$mainFont: "Roboto Mono", monospace;
$centeredText: center;

$universalCSS: (
  "zeroEM": 0em,
  "borderBox": border-box,
);
$allColours: (
  "bgColour": lightgrey,
  "containerColour": green,
  "screenColour": lightgreen,
);
$allPadding: (
  "containerPadding": 1em,
  "screenPadding": 2em,
);
$allGrids: (
  "gridDisplay": grid,
  "gridColumns": auto auto,
);

* {
  margin: map-get($universalCSS, "zeroEM");
  padding: map-get($universalCSS, "zeroEM");
  box-sizing: map-get($universalCSS, "borderBox");
}

body {
  background-color: map-get($allColours, "bgColour");
  font-family: $mainFont;
  text-align: $centeredText;
}

#alarmContainer {
  background-color: map-get($allColours, "containerColour");
  padding: map-get($allPadding, "containerPadding");
}

#alarmScreen {
  background-color: map-get($allColours, "screenColour");
  padding: map-get($allPadding, "screenPadding");
  display: map-get($allGrids, "gridDisplay");
  grid-template-columns: map-get($allGrids, "gridColumns");
}




#innerTopRightHolder {
    display: map-get($allGrids, "gridDisplay");
    grid-template-columns: map-get($allGrids, "gridColumns");
}
#leftHolder {
  border: solid 0.3em blue;
  margin: auto;
}
#rightHolder {
  border-left: orchid solid 0.5em;
}
#innerTopRightHolder {
  border-bottom: yellow solid 0.5em;
}
#month {
  border-right: solid 0.3em pink;
}
