$mainFont: "Roboto Mono", monospace;
$alarmFontSize: 1.9em;

$universalCSS: (
  "zeroEM": 0em,
  "borderBox": border-box,
);
$allGrids: (
  "gridDisplay": grid,
  "gridColumns": auto auto,
  "centeredScreenContent": center,
);
$allBgColours: (
  "mainBGColour": lightgrey,
  "containerColour": green,
  "screenColour": lightgreen,
);
$allBorderRadius: (
  "containerBorderRadius": 2em,
  "screenBorderRadius": 1em,
);
$allPadding: (
  "containerPadding": 0.5em,
  "screenPadding": 0.8em,
);
$allCentering: (
  "centeredText": center,
  "centerTime": auto 0.2em auto 0em,
  "centeringAlarmW/Margin": 0em 0.5em,
);
$allDividers: (
  "lineDividers": black solid 0.1em,
  "lineDividersMargin": 0.1em,
);

* {
  margin: map-get($universalCSS, "zeroEM");
  padding: map-get($universalCSS, "zeroEM");
  box-sizing: map-get($universalCSS, "borderBox");
}

body {
  background-color: map-get($allBgColours, "mainBGColour");
  font-family: $mainFont;
  text-align: map-get($allCentering, "centeredText");
}

#alarmContainer {
  background-color: map-get($allBgColours, "containerColour");
  padding: map-get($allPadding, "containerPadding");
  border-radius: map-get($allBorderRadius, "containerBorderRadius");
  margin: map-get($allCentering, "centeringAlarmW/Margin");
}

#alarmScreen {
  background-color: map-get($allBgColours, "screenColour");
  padding: map-get($allPadding, "screenPadding");
  display: map-get($allGrids, "gridDisplay");
  grid-template-columns: map-get($allGrids, "gridColumns");
  justify-content: map-get($allGrids, "centeredScreenContent");
  border-radius: map-get($allBorderRadius, "screenBorderRadius");
  font-size: $alarmFontSize;
}

#leftHolder {
  margin: map-get($allCentering, "centerTime");
}

#innerTopRightHolder {
  display: map-get($allGrids, "gridDisplay");
  grid-template-columns: map-get($allGrids, "gridColumns");
}

#rightHolder {
  border-left: map-get($allDividers, "lineDividers");
}

#innerTopRightHolder {
  border-bottom: map-get($allDividers, "lineDividers");
  margin-left: map-get($allDividers, "lineDividersMargin");
}

#month {
  border-right: map-get($allDividers, "lineDividers");
  margin-bottom: map-get($allDividers, "lineDividersMargin");
}

#weekday {
  margin-left: map-get($allDividers, "lineDividersMargin");
}
